<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fypcanteensystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYPCanteenSystem">
        <activity
            android:name=".VendorStockReportActivity"
            android:exported="false" />
        <activity
            android:name=".VendorSalesReportActivity"
            android:exported="false" />
        <activity
            android:name=".VendorReportActivity"
            android:exported="false" />
        <activity
            android:name=".VendorEwalletActivity"
            android:exported="false" />
        <activity
            android:name=".VendorReceiveOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".VendorOrderReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".VendorPromoCodeActivity"
            android:exported="false" />
        <activity
            android:name=".VendorMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMenuDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".FoodOrderingModuleActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerReportActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerWishlistActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerOrderActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerCartActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".VendorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VendorRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".VendorForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VendorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".VendorLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>